
<h1 class="top-title">
		ようこそ<span>Bookersへ！</span></h1>

<p class="top-text1"><span>Bookers</span>ではさまざまな書籍に関するあなたの意見や</p>

<p class="top-text2">印象を共有し交換することができます</p>

<p class="top-link"><%= link_to "Start", "books" %></p>
